<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>

    <h1>Registro</h1>
	<h4><font color="red">El usuario del email indicado ya dispone de una cuenta de usuario &nbsp; <a href = "/login">SIGN IN</a></h4>
	 <font color="black"><form action="registro" method="post">
        Email: <input type="email" name="email"/><br/>
        Nombre usuario: <input type="text" name="username"/><br/>
        Clave: <input type="password" name="clave"/><br/></p>
        <input type="submit" value="Registrar" />
    </form>

</body>
</html>
